<header id="page-topbar">
    <div class="navbar-header" style="background-color: #0cb8b6;">

        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="" alt="" height="26">
                        </span>
                    <span class="logo-lg">
                            <img src="" alt="" height="26"> <span class="logo-txt">Rendez-vous</span>
                        </span>
                </a>

                <a href="index.html" class="logo logo-light">
                        <span class="logo-sm">
                            <img src=" " alt="" height="26">
                        </span>
                    <span class="logo-lg">
                            <img src="" alt="" height="26"> <span class="logo-txt">Rendez-vous</span>
                        </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 header-item vertical-menu-btn noti-icon">
                <i class="fa fa-fw fa-bars font-size-16"></i>
            </button>

        </div>
        <div class="d-flex">
            <div class="dropdown d-inline-block d-block d-lg-none">
                <button type="button" class="btn header-item noti-icon"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bx bx-search icon-sm"></i>
                </button>
            </div>




            {% if app.session.get('doctor') is defined and app.session.get('doctor') is not empty %}
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item user text-start d-flex align-items-center" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="  {{ asset('assets/img/' ~ app.session.get('doctor').photp) }}"
                             alt="Header Avatar">
                        <span class="ms-2 d-none d-xl-inline-block user-item-desc">
                                    <span class="user-name"> {{ app.session.get('doctor').Nom }} {{ app.session.get('doctor').Prenom}} <i class="mdi mdi-chevron-down"></i> </span>
                                </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end pt-0">
                        <h6 class="dropdown-header"> {{ app.session.get('doctor').Nom }} {{ app.session.get('doctor').Prenom}}</h6>
                        <a class="dropdown-item" href="{{ path('Logout') }}"><i class="mdi mdi-logout text-muted font-size-16 align-middle me-1"></i> <span class="align-middle">Logout</span></a>
                    </div>
                </div>

            {% else %}
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item user text-start d-flex align-items-center" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="  {{ asset('assets/img/' ~ app.session.get('patient_id').photp) }}"
                             alt="Header Avatar">
                        <span class="ms-2 d-none d-xl-inline-block user-item-desc">
                                    <span class="user-name"> {{ app.session.get('patient_id').Nom }} {{ app.session.get('patient_id').Prenom}} <i class="mdi mdi-chevron-down"></i> </span>
                                </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end pt-0">
                        <h6 class="dropdown-header"> {{ app.session.get('patient_id').Nom }} {{ app.session.get('patient_id').Prenom}}</h6>
                        <a class="dropdown-item" href="{{ path('Logout') }}"><i class="mdi mdi-logout text-muted font-size-16 align-middle me-1"></i> <span class="align-middle">Logout</span></a>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</header>