<div class="vertical-menu">


    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="" alt="" height="16">
                    </span>
            <span class="logo-lg">
                        <img src="" alt="" height="16">
                    </span>
        </a>

        <a href="index.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{{ asset('assets/img/MyDoctor.png') }}" alt="" height="5">
                    </span>
            <span class="logo-lg">
                        <img src="{{ asset('assets/img/MyDoctor.png') }}" alt="" height="">
                    </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Menu</li>
                {% if app.session.get('doctor') is defined and app.session.get('doctor') is not empty %}

                <li class="menu-title" data-key="t-applications">Doctor</li>

                <li>
                    <a href="{{ path('rdvlist') }}" >
                        <i class="bx bx-buildings nav-icon"></i>
                        <span class="menu-item" data-key="t-calendar">RDV</span>
                    </a>
                </li>
                    <li>
                        <a href="{{ path('rdvStatistiques') }}" >
                            <i class="bx bx-stats nav-icon"></i>
                            <span class="menu-item" data-key="t-calendar">Statistiques</span>
                        </a>
                    </li>
                {% else %}
                    <li class="menu-title" data-key="t-applications">Patient</li>

                    <li>
                        <a href="{{ path('rdv_index') }}" >
                            <i class="bx bx-buildings nav-icon"></i>
                            <span class="menu-item" data-key="t-calendar">RDV</span>
                        </a>
                    </li>
                {% endif %}


            </ul>

        </div>

    </div>
</div>